# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${HOME}/poky-zeus-bbb/meta \
  ${HOME}/poky-zeus-bbb/meta-poky \
  ${HOME}/poky-zeus-bbb/meta-openembedded/meta-oe \
  ${HOME}/poky-zeus-bbb/meta-openembedded/meta-networking \
  ${HOME}/poky-zeus-bbb/meta-openembedded/meta-perl \
  ${HOME}/poky-zeus-bbb/meta-openembedded/meta-python \
  ${HOME}/poky-zeus-bbb/meta-qt5 \
  ${HOME}/poky-zeus-bbb/meta-security \
  ${HOME}/poky-zeus-bbb/meta-jumpnow \
  ${HOME}/poky-zeus-bbb/meta-bbb \
  ${HOME}/poky-zeus-bbb/meta-km-bbb \
"
